<div class="row mt-5">
<div class="col-8 offset-1">
  <h2>Edit your comment:</h2>
  <form>
  <textarea class="form-control"></textarea>
  <button type="submit" class="btn btn-primary mt-3">Update</button>
  </form>
</div>
</div>
