  <form action="/topics" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    Title: <input type="text" name="topic[title]"> <br />
    Subject: <input type="text" name="topic[subject]"><br />
    Content: <textarea name="topic[content]"></textarea><br />
    <input type="hidden" name="topic[user_id]" value="<%= @user.id %>">
  <button class="btn btn-primary" type="submit">Create Topic</button>
  </form>
