
<div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"></h5>
          <h6 class="card-subtitle mb-2 text-muted">Hello, <%=@user.username %></h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>


    </div>




    <div class="col-6">

      <ul class="list-group">
        <% @topics.each do |topic| %>
  <li class="list-group-item"><%= topic.topics_title %> by <%= topic.users_email%> <a href="/topics/<%=topic.topics_id %>">view </a>
        <% end %>
</ul>
    </div>
</div>


<h2>dev</h2>

add friend code
switch/wii u

do u want ur code public?
