<h1 class="text-center">Splatoon Life</h1>

<div class="row mt-5">
    <div class="col-6">

      <%= image_tag("welcome.gif", :alt => "welcome") %>

    </div>

    <div class="col-6">

      <h5>A place to make and chat with friends around the world for Splatoon.</h5>
      <%= link_to "Login", new_user_session_path %> <br />
      <%= link_to "Register", user_session_path %><br />
      <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
    </div>
</div>
